<!-- Conteúdo da pré-tela -->
<div class="pre-tela" id="preTela">
    <h1>Bem-vindo ao Ravin Ristorant</h1>
    <img src="src/assets/img/Ravin.png" alt="Logo do restaurante Ravin" class="img-fluid rounded-circle my-2 p-1 d-md-block shadow">
    <div class="select-mesa updown">
      <label for="mesas">Escolha uma mesa:</label>
      <select id="mesas">
        <option value="001">Mesa 1</option>
        <option value="002">Mesa 2</option>
        <option value="003">Mesa 3</option>
        <option value="004">Mesa 4</option>
        <option value="005">Mesa 5</option>
      </select>
      <button class="btn btn-primary move-and-disappear" id="btnConfirmar">Confirmar</button>
    </div>
  </div>
  